/* header */

.header {
    max-width:1366px;
    width: 100%;
    /* height: 324px; */
    background-image: url('../photos/mohamed-ajufaan-GFcWwwGNu_w-unsplash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.opacity {
    /* max-width: 1366; */
    max-width:1366px;
    width: 100%;
    height: 324px;
    background-color: black;
    opacity: 60%;
}
.navigation-wrapper {
    font-family:'Poppins', sans-serif;
    font-weight: 600px;
    padding-top: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1089px;
    width: 100%;
    height: 20px;
    margin: 0 auto;
}
.logo {
    font-family:'Poppins', sans-serif;
    font-weight: bold;
}
.ul {
    display: flex;
}
.li {
    margin-right: 50px;
}
.home {
    color: blue;
}
.navigation-wrapper a {
    text-transform: uppercase;
}
.home {
    color: black;
}
.left-block {
    max-width: 190px;
    width: 100%;
    margin-top: 145px;
    margin-left: 139px;
}

.left-block h1 {
    font-family:'Poppins', sans-serif;
    color: white;
    font-size: 42px;
}
.divider {
    max-width: 2px;
    width: 100%;
    height: 16px;
    background-color: white;
    margin: 0px 16px;
}
.aboutus {
    display: flex;
    margin-top: 18px;
    font-family:'Poppins', sans-serif;
    font-size: 14px;
}
.aboutus a {
    font-size: 14px;
    color: white;
}
a {
    color: white;
}
.home {
    color: blue;
}


/* section1 */

.div-wrapper {
  display: flex;
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  align-items: center;

}

.left-div {
    max-width: 444px;
    width: 100%;
    /* height: 388px; */

}
.left-div a {
    margin-bottom: 10px;
    color: blue;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.left-paragraph h3 {
    font-size: 42px; 
    margin-bottom: 14px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.left-paragraph p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.readmore {
    display: flex;
    max-width: 184px;
    width: 100%;
    height: 50px;
    background-color: #5863F8;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
}
.readmore img{
    margin-left: 20px;
}


.right-div {
    max-width: 536px;
    width: 100%;
    /* height: 461px; */
    margin-left: 108px;
}
.top-pic{
    max-width: 536px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top-img {
    max-width: 260px;
    width: 100%;
    /* height: 185px; */
    background-image: url('../photos/girl\ swimming.png');
}
.top-img2 {
    max-width: 260px;
    width: 100%;
    height: 185px;
    background-image: url('../photos/kibe.jpg');
    background-position: center;
}
.bot-img {
    max-width: 536px;
    width: 100%;
    height: 260px;
    background-image: url('../photos/lower.png');
    margin-top: 16px;
}

/* section2 */
.section2 {
    justify-content: center;
    display: flex;
    max-width: 1366px;
    width: 100%;
    height: 100%;
    min-height: 612px;
    background-image: url('../photos/bg-img.png');
    margin: 0 auto;
    margin-top: 90px;
    align-items: center;
    background-size: cover;
    align-items: center;
}
.wrapper {
    max-width: 1088px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.satauri{
    margin-bottom: 38px;
    max-width: 350px;
    width: 100%;
    height: 112px;
}
.satauri a {
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    color: #5863F8;
}
.satauri h3 {
    font-family:'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 42px;
    color: white;
}
.box {
    font-family: 'Poppins', sans-serif;
    max-width: 260px;
    width: 100%;
    height: 100%;
    min-height: 260px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box h3 {
    max-width: 200px;
    width: 100%;
    font-size: 18px;
    color: black;
    margin-top: 15px;
    margin-bottom: 24px;
    text-align: center;
}
.box p {
    max-width: 221px;
    width: 100%;
    font-size: 14px;
    color: #B1B1B1;
    text-align: center;
}
.box img{
    align-self: center;
    max-width: 32.73px;
    width: 100%;
    /* height: 100%;
    min-height: 32.73px; */
}
.round {
    display: flex;
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50px;
    justify-content: center;
}
.round img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.round p {
    text-align: center;
}
.photo-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 24px;
}

/* section3 */
.marius{
    display: flex;
}
.marius p{
    font-family:'Poppins', sans-serif;
    margin-left: 19px;
    margin-top: 10px;    
}
.left-div a{
    font-family:'Poppins', sans-serif;
    font-size: 14px;
}
.sec3 {
    background-color: #F8F8F8;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
.right-div-sec3 {
    margin-left: 212px;    
}
.div-wrapper-sec3 {
    display: flex;
    margin: 0 auto;    
    align-items: center;
    justify-content: flex-end;    
}
.sec-3paragraph {
    margin-top: 20px;
    max-width: 352px;
    width: 100%;
    /* height: 62px; */
}


/* section4 */
.section4{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
.container-wrapper {
    max-width: 1227px;
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;
}
.text-wrapper p{
   font-family:'Poppins', sans-serif;
   width: 550px;
   font-size: 42px;
   
}
.text-wrapepr h3 {
    font-size: 14px;
    color: blue;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 54px;
    max-width: 1366px;
    width: 100%;
}
.photos {
    font-family:'Poppins', sans-serif;
    color: blue;
    margin-bottom: 10px;
}

/* footer */
.footer {
    max-width: 1366px;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .footer-wraper {
    max-width: 1012px;
    width: 1100%;
    height: 272px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 90px;
    flex-wrap: wrap;
  }
  .footer-div-1 {
    max-width: 260px;
    width: 100%;
    margin-right: 200px;
  }
  .footer-div-1 h2 {
    color: #FFFFFF;
    font-size: 24px;
    padding-bottom: 22px;
  }
  .footer-div-1 p {
    color: #B1B1B1;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 20px;
  }
  .footer-div-1 img {
    margin-right: 10px;
  }
  
  .useful-links {
    font-family:'Poppins', sans-serif;
    max-width: 94px;
    width: 100%;
  }
  .useful-links h3 {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 21px;
  }
  .useful-links li {
    color: #5863F8;
    font-size: 14px;
    padding-bottom: 11px;
  }
  
  .privacy {
    font-family:'Poppins', sans-serif;
    max-width: 67px;
    width: 100%;
    margin-left: 94px;
  }
  .privacy h3 {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 21px;
  }
  .privacy li {
    color: #5863F8;
    font-size: 14px;
    padding-bottom: 11px;
  }
    
  .contact {
    font-family:'Poppins', sans-serif;
    max-width: 178px;
    width: 100%;
    margin-left: 117px;
  }
  .contact h3 {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 21px;
  }
  .contact i {
    color: #5863F8;
    max-width: 16px;
    width: 1100%;
    height: 12.83px;
  }
  .contact a {
    font-size: 14px;
    color: #FFFFFF;
  }
  .contact-li {
    padding-bottom: 21px;
  }
  .contact-li a {
    padding-left: 14px;
  }
  .copyright {
    font-family:'Poppins', sans-serif;
    margin-right: auto;
    font-size: 14px;
    line-height: 19px;
    color: #B1B1B1;
    margin-top: 54px;
    margin-bottom: 41px;
  }
  
  .copyright a {
    font-family:'Poppins', sans-serif;
    color: #5863F8;
  }
  /* .mail {
    justify-content: center;
  } */